PFEBackEnd/PFE/src/main/resources/xsd/classe-endpoint.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema elementFormDefault="qualified" version="1.0"
	targetNamespace="http://www.educanet.tn.com/pfe/api/classes/schema"
	xmlns:tns="http://www.educanet.tn.com/pfe/api/classes/schema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	jaxb:version="3.0">

	<xsd:annotation>
		<xsd:documentation xml:lang="fr">
			ClasseEndpoint — contrat SOAP (liste, création, mise à jour, suppression).
		</xsd:documentation>
		<xsd:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="com.tn.educanet.pfe.api.classes.schema" />
			</jaxb:schemaBindings>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:complexType name="ClasseRequest">
		<xsd:sequence>
			<xsd:element name="nom" type="xsd:string"/>
			<xsd:element name="niveauId" type="xsd:long"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ClasseDto">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" minOccurs="0"/>
			<xsd:element name="nom" type="xsd:string" minOccurs="0"/>
			<xsd:element name="niveauId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="niveauNom" type="xsd:string" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ClasseDtoList">
		<xsd:sequence>
			<xsd:element name="item" type="tns:ClasseDto" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="GetClassesListQuery" type="tns:GetClassesListQueryType"/>
	<xsd:complexType name="GetClassesListQueryType">
		<xsd:sequence>
			<xsd:element name="niveauId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="nom" type="xsd:string" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="PostClasseBody" type="tns:ClasseRequest"/>
	<xsd:element name="PutClasseBody" type="tns:UpdateClasseRequestType"/>
	<xsd:complexType name="UpdateClasseRequestType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:element name="body" type="tns:ClasseRequest"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ClasseResponse" type="tns:ClasseDto"/>
	<xsd:element name="ClasseListResponse" type="tns:ClasseDtoList"/>
	<xsd:element name="DeleteClasseRequest" type="tns:DeleteClasseRequestType"/>
	<xsd:complexType name="DeleteClasseRequestType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DeleteClasseResponse" type="tns:DeleteClasseResponseType"/>
	<xsd:complexType name="DeleteClasseResponseType">
		<xsd:sequence>
			<xsd:element name="success" type="xsd:boolean"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
