PFEBackEnd/PFE/src/main/resources/xsd/classe-endpoint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.educanet.tn.com/pfe/api/classes/schema"
    xmlns:tns="http://www.educanet.tn.com/pfe/api/classes/schema"
    elementFormDefault="qualified"
    version="1.0">

    <xsd:annotation>
        <xsd:documentation xml:lang="fr">
            ClasseEndpoint — /api/classes ; GET /by-niveau/{idNiveau} ; GET/PUT/DELETE /{id}.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="ClasseRequest">
        <xsd:sequence>
            <xsd:element name="nom" type="xsd:string"/>
            <xsd:element name="niveauId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ClasseDto">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0"/>
            <xsd:element name="nom" type="xsd:string" minOccurs="0"/>
            <xsd:element name="niveauId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="niveauNom" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ClasseDtoList">
        <xsd:sequence>
            <xsd:element name="item" type="tns:ClasseDto" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetClassesListQuery" type="tns:GetClassesListQueryType"/>
    <xsd:complexType name="GetClassesListQueryType">
        <xsd:sequence>
            <xsd:element name="niveauId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="nom" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="PostClasseBody" type="tns:ClasseRequest"/>
    <xsd:element name="PutClasseBody" type="tns:ClasseRequest"/>
    <xsd:element name="ClasseResponse" type="tns:ClasseDto"/>
    <xsd:element name="ClasseListResponse" type="tns:ClasseDtoList"/>
</xsd:schema>
