PFEBackEnd/PFE/src/main/resources/xsd/consultation-endpoint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.educanet.tn.com/pfe/api/consultations/schema"
    xmlns:tns="http://www.educanet.tn.com/pfe/api/consultations/schema"
    elementFormDefault="qualified"
    version="1.0">

    <xsd:annotation>
        <xsd:documentation xml:lang="fr">
            ConsultationEndpoint — GET/POST /api/consultations ; PUT/DELETE /api/consultations/{id}.
            GET liste: eleveId, niveauId, classeId, q (optionnels).
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="ConsultationRequest">
        <xsd:sequence>
            <xsd:element name="eleveId" type="xsd:long"/>
            <xsd:element name="dateConsultation" type="xsd:date"/>
            <xsd:element name="temperature" type="xsd:double"/>
            <xsd:element name="vomissement" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="diarrhee" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="rapport" type="xsd:string" minOccurs="0"/>
            <xsd:element name="prochaineConsultation" type="xsd:date" minOccurs="0"/>
            <xsd:element name="traitement" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ConsultationDto">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0"/>
            <xsd:element name="eleveId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="eleveNomComplet" type="xsd:string" minOccurs="0"/>
            <xsd:element name="classeNom" type="xsd:string" minOccurs="0"/>
            <xsd:element name="niveauNom" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dateConsultation" type="xsd:date" minOccurs="0"/>
            <xsd:element name="temperature" type="xsd:double" minOccurs="0"/>
            <xsd:element name="vomissement" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="diarrhee" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="rapport" type="xsd:string" minOccurs="0"/>
            <xsd:element name="prochaineConsultation" type="xsd:date" minOccurs="0"/>
            <xsd:element name="traitement" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ConsultationDtoList">
        <xsd:sequence>
            <xsd:element name="item" type="tns:ConsultationDto" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetConsultationsListQuery" type="tns:GetConsultationsListQueryType"/>
    <xsd:complexType name="GetConsultationsListQueryType">
        <xsd:sequence>
            <xsd:element name="eleveId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="niveauId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="classeId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="q" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="PostConsultationBody" type="tns:ConsultationRequest"/>
    <xsd:element name="PutConsultationBody" type="tns:ConsultationRequest"/>
    <xsd:element name="ConsultationResponse" type="tns:ConsultationDto"/>
    <xsd:element name="ConsultationListResponse" type="tns:ConsultationDtoList"/>
</xsd:schema>
