PFEBackEnd/PFE/src/main/resources/xsd/consultation-endpoint.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema elementFormDefault="qualified" version="1.0"
	targetNamespace="http://www.educanet.tn.com/pfe/api/consultations/schema"
	xmlns:tns="http://www.educanet.tn.com/pfe/api/consultations/schema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	jaxb:version="3.0">

	<xsd:annotation>
		<xsd:documentation xml:lang="fr">Consultation — contrat SOAP (liste, création, mise à jour, suppression).</xsd:documentation>
		<xsd:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="com.tn.educanet.pfe.api.consultations.schema" />
			</jaxb:schemaBindings>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:complexType name="ConsultationRequest">
		<xsd:sequence>
			<xsd:element name="eleveId" type="xsd:long"/>
			<xsd:element name="dateConsultation" type="xsd:date"/>
			<xsd:element name="temperature" type="xsd:double"/>
			<xsd:element name="vomissement" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="diarrhee" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="rapport" type="xsd:string" minOccurs="0"/>
			<xsd:element name="prochaineConsultation" type="xsd:date" minOccurs="0"/>
			<xsd:element name="traitement" type="xsd:string"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ConsultationDto">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" minOccurs="0"/>
			<xsd:element name="eleveId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="eleveNomComplet" type="xsd:string" minOccurs="0"/>
			<xsd:element name="classeNom" type="xsd:string" minOccurs="0"/>
			<xsd:element name="niveauNom" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dateConsultation" type="xsd:date" minOccurs="0"/>
			<xsd:element name="temperature" type="xsd:double" minOccurs="0"/>
			<xsd:element name="vomissement" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="diarrhee" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="rapport" type="xsd:string" minOccurs="0"/>
			<xsd:element name="prochaineConsultation" type="xsd:date" minOccurs="0"/>
			<xsd:element name="traitement" type="xsd:string" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ConsultationDtoList">
		<xsd:sequence>
			<xsd:element name="item" type="tns:ConsultationDto" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="GetConsultationsListQuery" type="tns:GetConsultationsListQueryType"/>
	<xsd:complexType name="GetConsultationsListQueryType">
		<xsd:sequence>
			<xsd:element name="eleveId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="niveauId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="classeId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="q" type="xsd:string" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="PostConsultationBody" type="tns:ConsultationRequest"/>
	<xsd:element name="PutConsultationBody" type="tns:UpdateConsultationRequestType"/>
	<xsd:complexType name="UpdateConsultationRequestType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:element name="body" type="tns:ConsultationRequest"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ConsultationResponse" type="tns:ConsultationDto"/>
	<xsd:element name="ConsultationListResponse" type="tns:ConsultationDtoList"/>

	<xsd:element name="DeleteConsultationRequest" type="tns:DeleteConsultationRequestType"/>
	<xsd:complexType name="DeleteConsultationRequestType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DeleteConsultationResponse" type="tns:DeleteConsultationResponseType"/>
	<xsd:complexType name="DeleteConsultationResponseType">
		<xsd:sequence>
			<xsd:element name="success" type="xsd:boolean"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
