PFEBackEnd/PFE/src/main/resources/xsd/eleve-maladie-endpoint.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema elementFormDefault="qualified" version="1.0"
	targetNamespace="http://www.educanet.tn.com/pfe/api/eleves/maladies/schema"
	xmlns:tns="http://www.educanet.tn.com/pfe/api/eleves/maladies/schema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	jaxb:version="3.0">

	<xsd:annotation>
		<xsd:documentation xml:lang="fr">Maladies d’un élève (liste, création, mise à jour, suppression).</xsd:documentation>
		<xsd:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="com.tn.educanet.pfe.api.eleves.maladies.schema" />
			</jaxb:schemaBindings>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:simpleType name="TypeMaladieEleve">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ALLERGIE"/>
			<xsd:enumeration value="MALADIE_CHRONIQUE"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="MaladieEleveRequest">
		<xsd:sequence>
			<xsd:element name="type" type="tns:TypeMaladieEleve"/>
			<xsd:element name="libelle" type="xsd:string"/>
			<xsd:element name="details" type="xsd:string" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CreateEleveMaladieRequestType">
		<xsd:sequence>
			<xsd:element name="eleveId" type="xsd:long"/>
			<xsd:element name="body" type="tns:MaladieEleveRequest"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="MaladieEleveDto">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" minOccurs="0"/>
			<xsd:element name="eleveId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="type" type="tns:TypeMaladieEleve" minOccurs="0"/>
			<xsd:element name="libelle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="details" type="xsd:string" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="MaladieEleveDtoList">
		<xsd:sequence>
			<xsd:element name="item" type="tns:MaladieEleveDto" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="GetEleveMaladiesListQuery" type="tns:GetEleveMaladiesListQueryType"/>
	<xsd:complexType name="GetEleveMaladiesListQueryType">
		<xsd:sequence>
			<xsd:element name="eleveId" type="xsd:long"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="PostMaladieBody" type="tns:CreateEleveMaladieRequestType"/>
	<xsd:element name="PutMaladieBody" type="tns:UpdateEleveMaladieRequestType"/>
	<xsd:complexType name="UpdateEleveMaladieRequestType">
		<xsd:sequence>
			<xsd:element name="eleveId" type="xsd:long"/>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:element name="body" type="tns:MaladieEleveRequest"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MaladieResponse" type="tns:MaladieEleveDto"/>
	<xsd:element name="MaladieListResponse" type="tns:MaladieEleveDtoList"/>

	<xsd:element name="DeleteEleveMaladieRequest" type="tns:DeleteEleveMaladieRequestType"/>
	<xsd:complexType name="DeleteEleveMaladieRequestType">
		<xsd:sequence>
			<xsd:element name="eleveId" type="xsd:long"/>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DeleteEleveMaladieResponse" type="tns:DeleteEleveMaladieResponseType"/>
	<xsd:complexType name="DeleteEleveMaladieResponseType">
		<xsd:sequence>
			<xsd:element name="success" type="xsd:boolean"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
