PFEBackEnd/PFE/src/main/resources/xsd/eleve-maladie-endpoint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.educanet.tn.com/pfe/api/eleves/maladies/schema"
    xmlns:tns="http://www.educanet.tn.com/pfe/api/eleves/maladies/schema"
    elementFormDefault="qualified"
    version="1.0">

    <xsd:annotation>
        <xsd:documentation xml:lang="fr">
            EleveMaladieEndpoint — /api/eleves/{eleveId}/maladies ; PUT/DELETE …/maladies/{id}.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:simpleType name="TypeMaladieEleve">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ALLERGIE"/>
            <xsd:enumeration value="MALADIE_CHRONIQUE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="MaladieEleveRequest">
        <xsd:sequence>
            <xsd:element name="type" type="tns:TypeMaladieEleve"/>
            <xsd:element name="libelle" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MaladieEleveDto">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0"/>
            <xsd:element name="eleveId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="type" type="tns:TypeMaladieEleve" minOccurs="0"/>
            <xsd:element name="libelle" type="xsd:string" minOccurs="0"/>
            <xsd:element name="details" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MaladieEleveDtoList">
        <xsd:sequence>
            <xsd:element name="item" type="tns:MaladieEleveDto" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="PostMaladieBody" type="tns:MaladieEleveRequest"/>
    <xsd:element name="PutMaladieBody" type="tns:MaladieEleveRequest"/>
    <xsd:element name="MaladieResponse" type="tns:MaladieEleveDto"/>
    <xsd:element name="MaladieListResponse" type="tns:MaladieEleveDtoList"/>
</xsd:schema>
