PFEBackEnd/PFE/src/main/resources/xsd/phone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.educanet.tn.com/business/phone/schema"
    xmlns:tns="http://www.educanet.tn.com/business/phone/schema"
    elementFormDefault="qualified"
    version="1.0">

    <xsd:complexType name="Phone">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0"/>
            <xsd:element name="emmergencyPhone" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="phonename" type="xsd:string" minOccurs="0"/>
            <xsd:element name="countryCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="usercode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="active" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PhoneSMS">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0"/>
            <xsd:element name="phonename" type="xsd:string" minOccurs="0"/>
            <xsd:element name="countryCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="active" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
