PFEBackEnd/PFE/src/main/resources/xsd/rappel-vaccination-endpoint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.educanet.tn.com/pfe/api/rappels-vaccination/schema"
    xmlns:tns="http://www.educanet.tn.com/pfe/api/rappels-vaccination/schema"
    elementFormDefault="qualified"
    version="1.0">

    <xsd:annotation>
        <xsd:documentation xml:lang="fr">
            RappelVaccinationEndpoint — /api/rappels-vaccination
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="RappelVaccinationClasseDto">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0"/>
            <xsd:element name="nom" type="xsd:string" minOccurs="0"/>
            <xsd:element name="niveauId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="niveauNom" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RappelVaccinationRequest">
        <xsd:annotation>
            <xsd:documentation>JSON: propriété tableau "classeIds" (liste de long).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="datePrevue" type="xsd:date"/>
            <xsd:element name="typeVaccinId" type="xsd:long"/>
            <xsd:element name="classeIds">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="classeId" type="xsd:long" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="remarque" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RappelVaccinationDto">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0"/>
            <xsd:element name="datePrevue" type="xsd:date" minOccurs="0"/>
            <xsd:element name="typeVaccinId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="typeVaccinNom" type="xsd:string" minOccurs="0"/>
            <xsd:element name="classes" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="item" type="tns:RappelVaccinationClasseDto" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="remarque" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RappelVaccinationDtoList">
        <xsd:sequence>
            <xsd:element name="item" type="tns:RappelVaccinationDto" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="PostRappelBody" type="tns:RappelVaccinationRequest"/>
    <xsd:element name="PutRappelBody" type="tns:RappelVaccinationRequest"/>
    <xsd:element name="RappelResponse" type="tns:RappelVaccinationDto"/>
    <xsd:element name="RappelListResponse" type="tns:RappelVaccinationDtoList"/>
</xsd:schema>
