PFEBackEnd/PFE/src/main/resources/xsd/type-vaccin-endpoint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.educanet.tn.com/pfe/api/vaccins/types/schema"
    xmlns:tns="http://www.educanet.tn.com/pfe/api/vaccins/types/schema"
    elementFormDefault="qualified"
    version="1.0">

    <xsd:annotation>
        <xsd:documentation xml:lang="fr">
            TypeVaccinEndpoint — /api/vaccins/types
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="TypeVaccinRequest">
        <xsd:sequence>
            <xsd:element name="nom" type="xsd:string"/>
            <xsd:element name="quantiteInitiale" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TypeVaccinDto">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0"/>
            <xsd:element name="nom" type="xsd:string" minOccurs="0"/>
            <xsd:element name="quantiteTotale" type="xsd:int" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TypeVaccinDtoList">
        <xsd:sequence>
            <xsd:element name="item" type="tns:TypeVaccinDto" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="PostTypeVaccinBody" type="tns:TypeVaccinRequest"/>
    <xsd:element name="PutTypeVaccinBody" type="tns:TypeVaccinRequest"/>
    <xsd:element name="TypeVaccinResponse" type="tns:TypeVaccinDto"/>
    <xsd:element name="TypeVaccinListResponse" type="tns:TypeVaccinDtoList"/>
</xsd:schema>
