PFEBackEnd/PFE/src/main/resources/xsd/vaccination-endpoint.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema elementFormDefault="qualified" version="1.0"
	targetNamespace="http://www.educanet.tn.com/pfe/api/vaccinations/schema"
	xmlns:tns="http://www.educanet.tn.com/pfe/api/vaccinations/schema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	jaxb:version="3.0">

	<xsd:annotation>
		<xsd:documentation xml:lang="fr">Vaccination — contrat SOAP (liste, création, mise à jour, suppression).</xsd:documentation>
		<xsd:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="com.tn.educanet.pfe.api.vaccinations.schema" />
			</jaxb:schemaBindings>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:complexType name="VaccinationRequest">
		<xsd:sequence>
			<xsd:element name="eleveId" type="xsd:long"/>
			<xsd:element name="typeVaccinId" type="xsd:long"/>
			<xsd:element name="dateVaccination" type="xsd:date" minOccurs="0"/>
			<xsd:element name="datePrevue" type="xsd:date" minOccurs="0"/>
			<xsd:element name="numeroLot" type="xsd:string" minOccurs="0"/>
			<xsd:element name="status" type="xsd:string" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="VaccinationDto">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" minOccurs="0"/>
			<xsd:element name="eleveId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="eleveNomComplet" type="xsd:string" minOccurs="0"/>
			<xsd:element name="classeNom" type="xsd:string" minOccurs="0"/>
			<xsd:element name="niveauNom" type="xsd:string" minOccurs="0"/>
			<xsd:element name="typeVaccinId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="typeVaccinNom" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dose" type="xsd:int" minOccurs="0"/>
			<xsd:element name="dateVaccination" type="xsd:date" minOccurs="0"/>
			<xsd:element name="datePrevue" type="xsd:date" minOccurs="0"/>
			<xsd:element name="numeroLot" type="xsd:string" minOccurs="0"/>
			<xsd:element name="status" type="xsd:string" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="VaccinationDtoList">
		<xsd:sequence>
			<xsd:element name="item" type="tns:VaccinationDto" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="GetVaccinationsListQuery" type="tns:GetVaccinationsListQueryType"/>
	<xsd:complexType name="GetVaccinationsListQueryType">
		<xsd:sequence>
			<xsd:element name="eleveId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="niveauId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="classeId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="typeVaccinId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="q" type="xsd:string" minOccurs="0"/>
			<xsd:element name="numeroLot" type="xsd:string" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="PostVaccinationBody" type="tns:VaccinationRequest"/>
	<xsd:element name="PutVaccinationBody" type="tns:UpdateVaccinationRequestType"/>
	<xsd:complexType name="UpdateVaccinationRequestType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:element name="body" type="tns:VaccinationRequest"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="VaccinationResponse" type="tns:VaccinationDto"/>
	<xsd:element name="VaccinationListResponse" type="tns:VaccinationDtoList"/>

	<xsd:element name="DeleteVaccinationRequest" type="tns:DeleteVaccinationRequestType"/>
	<xsd:complexType name="DeleteVaccinationRequestType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DeleteVaccinationResponse" type="tns:DeleteVaccinationResponseType"/>
	<xsd:complexType name="DeleteVaccinationResponseType">
		<xsd:sequence>
			<xsd:element name="success" type="xsd:boolean"/>
			<xsd:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
