PFEBackEnd/PFE/src/main/resources/xsd/vaccination-endpoint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.educanet.tn.com/pfe/api/vaccinations/schema"
    xmlns:tns="http://www.educanet.tn.com/pfe/api/vaccinations/schema"
    elementFormDefault="qualified"
    version="1.0">

    <xsd:annotation>
        <xsd:documentation xml:lang="fr">
            VaccinationEndpoint — GET/POST /api/vaccinations ; PUT/DELETE /api/vaccinations/{id}.
            GET liste: eleveId, niveauId, classeId, typeVaccinId, q, numeroLot (optionnels).
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="VaccinationRequest">
        <xsd:sequence>
            <xsd:element name="eleveId" type="xsd:long"/>
            <xsd:element name="typeVaccinId" type="xsd:long"/>
            <xsd:element name="dateVaccination" type="xsd:date"/>
            <xsd:element name="datePrevue" type="xsd:date" minOccurs="0"/>
            <xsd:element name="numeroLot" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VaccinationDto">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0"/>
            <xsd:element name="eleveId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="eleveNomComplet" type="xsd:string" minOccurs="0"/>
            <xsd:element name="classeNom" type="xsd:string" minOccurs="0"/>
            <xsd:element name="niveauNom" type="xsd:string" minOccurs="0"/>
            <xsd:element name="typeVaccinId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="typeVaccinNom" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dose" type="xsd:int" minOccurs="0"/>
            <xsd:element name="dateVaccination" type="xsd:date" minOccurs="0"/>
            <xsd:element name="datePrevue" type="xsd:date" minOccurs="0"/>
            <xsd:element name="numeroLot" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VaccinationDtoList">
        <xsd:sequence>
            <xsd:element name="item" type="tns:VaccinationDto" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetVaccinationsListQuery" type="tns:GetVaccinationsListQueryType"/>
    <xsd:complexType name="GetVaccinationsListQueryType">
        <xsd:sequence>
            <xsd:element name="eleveId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="niveauId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="classeId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="typeVaccinId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="q" type="xsd:string" minOccurs="0"/>
            <xsd:element name="numeroLot" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="PostVaccinationBody" type="tns:VaccinationRequest"/>
    <xsd:element name="PutVaccinationBody" type="tns:VaccinationRequest"/>
    <xsd:element name="VaccinationResponse" type="tns:VaccinationDto"/>
    <xsd:element name="VaccinationListResponse" type="tns:VaccinationDtoList"/>
</xsd:schema>
